* {
    font-family: "Futura";
    background-color: #2C5784;
    color: #C7E8F3;
    text-align: center;
}



input {
    background-color: #ffffff;
    color: #000000;
}

select {
    background-color: #ffffff;
    color: #000000;
}

#the-temperature {
    color: #7CDF54;
}

#description {
    font-style: italic;
    color: #E1CE7A;
}
